.ui-widget.ui-widget-content {
    width: 100% !important;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
    background: #4d97c1 none;
    color: white;
}
.col-md-12.preview {
    position: relative;
}
#download {
    position: absolute;
    right: 20px;
    top: 15px;
}
.templates-box img{
    width: 100%;
}
