.header-logo, .header-logo img {
    max-width: 205px;
    max-height: 100px;
}


@media (max-width: 1229px){
    .header-content {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

.header-content {
    position: relative;
    padding-top: 0px;
    padding-bottom: 0px;
}

.counter-box-text {
    opacity: 1;
}

.about p{
    text-align: justify;
}


.button-loading {
    border: 1px solid #c4cdd5;
    cursor: default;
    text-shadow: none;
    color: transparent !important;
    position: relative;
    transition: border-color 0.2s ease-out;
  }

  .button-loading, .button-loading:hover, .button-loading:focus, .button-loading:active {
    color: transparent;
  }

  .button-loading:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    margin-top: -9px;
    margin-left: -9px;
    width: 18px;
    height: 18px;
    -webkit-animation: button-loading-spinner 0.7s linear infinite;
    animation: button-loading-spinner 1s linear infinite;
    border-color: #ffffff;
    border-bottom-color: transparent;
  }

  .button-loading.btn-fill-out {
    color: transparent !important;
    border: 1px solid var(--color-1st);
  }

  .button-loading.btn-fill-out:before {
    width: 18px;
    background-color: transparent;
    border-color: var(--color-1st);
    border-bottom-color: transparent;
  }
  .button-loading.btn-fill-out:after {
    display: none;
  }

  @-webkit-keyframes button-loading-spinner {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes button-loading-spinner {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .loading {
    background: url("../images/loading.gif") center center no-repeat;
    font-size: 0 !important;
    background-color: #000 !important;
    border: 0;
    height: 51px;
    width: 50px;
    padding: 0;
  }

  .loading::after, .loading::before {
    content: normal;
  }

  .transparent_background{
    background: linear-gradient(45deg, rgb(125 135 143) 0%,rgba(45,32,61,0) 100%)
  }


  .transparent_background1{
    background: linear-gradient(45deg, rgb(16 31 44) 0%,rgba(45,32,61,0) 100%);

  }

  .step-progress .bar {
    background-color: var(--color-1st) !important;
    }

    .tabStatus {
        text-align: center;
        background: var(--color-2nd) !important;
    }

    .step-pills .step-item.active {
        border: var(--color-1st) !important;
    }

    .step-button-previous {
        background-color: var(--color-1st) !important;
    }

    .step-pills .step-item.validated {
        border: 1px solid var(--color-1st) !important;;
    }

    .step-button-next {
        background-color: var(--color-2nd) !important;
    }

    .step-button-submit {
        background-color: var(--color-2nd) !important;
    }

    .step-pills .step-item {
        border-radius: 2px !important;
    }

    .step-progress .bar {
        border-radius: 2px !important;
    }

    .step-body, .step-footer {
        border-radius: 2px !important;
    }

    .step-pills {
        border-radius: 2px !important;
    }

    .step-button{
        border-radius: 2px !important;
    }

    .step-progress {
        border-radius: 2px !important;
    }

    .heading_tab_header .heading_s2 h4{
        text-align: center;
    }

@media (max-width: 757px){
    .vue-step-wizard {
        width: 100% !important;
        padding: 0px !important;
    }
}




